# Copyright (c) 2023 Seeed Studio inc.
# SPDX-License-Identifier: Apache-2.0

config BOARD_NANO_ESP32S3
    select SOC_ESP32S3_WROOM_N16R8
    select SOC_ESP32S3_PROCPU if BOARD_NANO_ESP32S3_PROCPU
    select SOC_ESP32S3_APPCPU if BOARD_NANO_ESP32S3_APPCPU
